.about{
    width: 80%;
    height: auto;
    background-color: rgb(255, 255, 255);
    animation: animation-opacity 2s;
}

.apresentation-title{
    color: rgb(0, 33, 94);
    font-size: 150%;
}

.apresentation-content{
    text-align: justify;
    color: rgb(0, 33, 94);
    font-size: 150%;
}

.icon-link{
    animation: animation-opacity 4s;
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.icon-link img{  
    margin-top: 20%;
    width: 60px;
    height: 60px;
}

@media (max-width:600px) {

    .apresentation-title{
        color: rgb(0, 33, 94);
        font-size: 110%;
    }

    .apresentation-content{
        text-align: justify;
        color: rgb(0, 33, 94);
        font-size: 110%;
    }

    .about{
        margin-top: -25%;
        width: 80%;
        height: 40%;
        background-color: rgb(255, 255, 255);
    }
}