.container-project{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    scrollbar-width: none;
}

.project-content{
    animation: animation-opacity 2s;
    text-align: justify;
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.project-content p{
    color: rgb(0, 33, 94);;
}

@media (max-width:600px) {
    .container-project{
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        overflow-y: scroll;
        scrollbar-width: none;
    }
    
    .project-content{
        text-align: justify;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    .project-content p{
        color: rgb(0, 33, 94);;
    }

    .project-name{
        font-size: 110%;
    }

    .project-technologies{
        font-size: 110%;
    }

    .project-description{
        font-size: 110%;
    }

    .project-repository{
        font-size: 110%;
    }

    .project-deploy{
        font-size: 110%;   
    }
}