@media (max-width: 768px) {
    header {
        padding: 30px 25px;
    }

    body{
        padding: 0;
    }
    
    .container {
        width: 110%;
        margin: 10px;
        border-radius: 12px;
    }
    
    .header-content {
        text-align: center;
    }
    
    header h1 {
        font-size: 1.1rem;
    }
    
    header h2 {
        font-size: 1.1rem;
    }
    
    header p {
        font-size: 1rem;
        text-align: left;
    }
    
    .academic-links {
        padding: 20px 25px 30px;
    }
    
    .section-header {
        padding: 18px 20px;
        font-size: 1rem;
    }
    
    .link-item {
        padding: 20px;
    }
    
    .link-info h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .container {
        width: 110%;
        margin: 1px;
        border-radius: 12px;
    }
    
    header {
        padding: 25px 20px;
    }
    
    header h1 {
        font-size: 1.1rem;
    }

    header p {
        font-size: 0.9rem;
        text-align: left;
        max-width: 97%;
    }
    
    .academic-links {
        padding: 15px 20px 25px;
    }
    
    .link-item {
        padding: 18px 15px;
    }

    .icons-links a{
        width: 30px;
        height: 30px;
    }

    .link-info h3{
        font-size: 0.9rem;
    }
    
}