.skills{
    animation: animation-opacity 2s;
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.skills-title{
    color: rgb(0, 33, 94);
    font-size: 150%;
}

.skills-content{
    color: rgb(0, 33, 94);
    font-size: 150%;
}

@media (max-width:600px) {
    .skills-title{
        color: rgb(0, 33, 94);
        font-size: 110%;
    }
    
    .skills-content{
        color: rgb(0, 33, 94);
        font-size: 110%;
    }
    
    .skills{
        margin-top: -15%;
        animation: animation-opacity 1s;
        width: 70%;
        height: 40%;
        background-color: #ffffff;
    }
}