.title{
    display: flex;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: center;
    width: 100%;
    height: 6%;
    background-color: rgb(230, 230, 230);
    border-bottom: 1px solid rgb(240, 240, 240);
}

.title-component{
    font-size: 170%;
    color: rgb(100, 100, 100);
}

.project-title{
    margin-left: 10%;
}


@media (max-width:500px) {
    .title-component{
        font-size: 110%;
        color: rgb(100, 100, 100);
    }

    .title{
        display: flex;
        align-items: center;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        justify-content: center;
        width: 100%;
        height: 6%;
        background-color: rgb(240, 240, 240);
        border-bottom: 1px solid rgb(202, 202, 202);
    }
}

