.apresentation{
    font-family: 'Lora', serif;
    text-align: justify;
    margin-top: 70px;
    margin-bottom: -19px;
    margin-left: 0.5%;
    width: 99%;
    height: auto;
    animation: effect 1s;
<<<<<<< HEAD
    border:1px solid rgb(192, 191, 191);
=======
    border: 1px solid rgb(231, 231, 231);
>>>>>>> 252e283b6ea3f15a227cc16753181ad5e16a6539
    border-radius: 5px;
}

.apresentation-title{
    color: rgb(107, 104, 104);
    font-size: 160%;
    margin-left: 5%;
    margin-top: 0%;
    margin-right: 5%;
}

.apresentation-content{
    color: rgb(107, 104, 104);
    font-size: 110%;
    margin-left: 5%;
    margin-top: 1%;
    margin-right: 5%;
}


@media (max-width:500px) {
    .apresentation-title{ 
        font-size: 110%; 
    }
    
    .apresentation-content{
        font-size: 100%;
    }
     
}
