.container{
     animation: effect 1s;
     height: 100%;
     width: 40%;
     border: 0px solid black;
     overflow-y: auto;
     scrollbar-width: none; 
}

@media (max-width:500px) {
     .container{
          animation: effect 1s;
          height: 100%;
          width: 90%;
     }
}